.container {
  display: grid;
  /* grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px 100px ;
    row-gap: 15px;
    column-gap: 30px;
    gap: 15px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center; */
  border: 5px solid #e1bee7;
  background-color: whitesmoke;
  gap: 15px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 75px 75px 75px;
  /* height: 600px; */
  /* justify-content: center;
align-content: center; */
grid-template-areas: 
"header header header"
"side main main"
"side main main";
  place-content: center;
}

.item {
  /* border: 5px solid #00bcd4; */
  font-size: 4rem;
  /* text-align: end;
  vertical-align: middle */
}

.item-1 {
  border: 5px solid #f8bbd0;
  background-color: #ffeeff;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-area: header;
}
.item-2 {
  border: 5px solid #f8bbd0;
  background-color: #ffee2f;
  /* grid-row: 2/4; */
  grid-area: side;

}
.item-3 {
  border: 5px solid #f8bbd0;
  background-color: #ff3eef;
  /* grid-area: 2 / 2 /4 / 4 ; */
  grid-area: main;
}
